<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="wallets">
      <h2 data-cy="walletsDetailsHeading"><span jhiTranslate="rattletrapApp.wallets.detail.title">Wallets</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rattletrapApp.wallets.id">Id</span></dt>
        <dd>
          <span>{{ wallets.id }}</span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.wallets.userId">User Id</span></dt>
        <dd>
          <span>{{ wallets.userId }}</span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.wallets.walletAddress">Wallet Address</span></dt>
        <dd>
          <span>{{ wallets.walletAddress }}</span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.wallets.walletType">Wallet Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'rattletrapApp.WalletType.' + wallets.walletType }}">{{ wallets.walletType }}</span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.wallets.userId">User Id</span></dt>
        <dd>
          <div *ngIf="wallets.userId">
            <a [routerLink]="['/users', wallets.userId.id, 'view']">{{ wallets.userId.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/wallets', wallets.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
