<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="galleries">
      <h2 data-cy="galleriesDetailsHeading"><span jhiTranslate="rattletrapApp.galleries.detail.title">Galleries</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="rattletrapApp.galleries.id">Id</span></dt>
        <dd>
          <span>{{ galleries.id }}</span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.galleries.creator">Creator</span></dt>
        <dd>
          <span>{{ galleries.creator }}</span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.galleries.nfts">Nfts</span></dt>
        <dd>
          <span>{{ galleries.nfts }}</span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.galleries.likes">Likes</span></dt>
        <dd>
          <span>{{ galleries.likes }}</span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.galleries.comments">Comments</span></dt>
        <dd>
          <span>{{ galleries.comments }}</span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.galleries.nfts">Nfts</span></dt>
        <dd>
          <span *ngFor="let nfts of galleries.nfts; let last = last">
            <a [routerLink]="['/nfts', nfts.id, 'view']">{{ nfts.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="rattletrapApp.galleries.userId">User Id</span></dt>
        <dd>
          <div *ngIf="galleries.userId">
            <a [routerLink]="['/users', galleries.userId.id, 'view']">{{ galleries.userId.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/galleries', galleries.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
