<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nfts-heading" data-cy="NftsCreateUpdateHeading" jhiTranslate="rattletrapApp.nfts.home.createOrEditLabel">
        Create or edit a Nfts
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.creatorAddress" for="field_creatorAddress">Creator Address</label>
          <input
            type="text"
            class="form-control"
            name="creatorAddress"
            id="field_creatorAddress"
            data-cy="creatorAddress"
            formControlName="creatorAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.ownerAddress" for="field_ownerAddress">Owner Address</label>
          <input
            type="text"
            class="form-control"
            name="ownerAddress"
            id="field_ownerAddress"
            data-cy="ownerAddress"
            formControlName="ownerAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.contractAddress" for="field_contractAddress">Contract Address</label>
          <input
            type="text"
            class="form-control"
            name="contractAddress"
            id="field_contractAddress"
            data-cy="contractAddress"
            formControlName="contractAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.fileAddress" for="field_fileAddress">File Address</label>
          <input
            type="text"
            class="form-control"
            name="fileAddress"
            id="field_fileAddress"
            data-cy="fileAddress"
            formControlName="fileAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.actualFile" for="field_actualFile">Actual File</label>
          <input
            type="text"
            class="form-control"
            name="actualFile"
            id="field_actualFile"
            data-cy="actualFile"
            formControlName="actualFile"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.metadataAddress" for="field_metadataAddress">Metadata Address</label>
          <input
            type="text"
            class="form-control"
            name="metadataAddress"
            id="field_metadataAddress"
            data-cy="metadataAddress"
            formControlName="metadataAddress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.metadata" for="field_metadata">Metadata</label>
          <input type="text" class="form-control" name="metadata" id="field_metadata" data-cy="metadata" formControlName="metadata" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.tile" for="field_tile">Tile</label>
          <input type="text" class="form-control" name="tile" id="field_tile" data-cy="tile" formControlName="tile" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.format" for="field_format">Format</label>
          <select class="form-control" name="format" formControlName="format" id="field_format" data-cy="format">
            <option [ngValue]="null">{{ 'rattletrapApp.Formats.null' | translate }}</option>
            <option *ngFor="let formats of formatsValues" [value]="formats">{{ 'rattletrapApp.Formats.' + formats | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="rattletrapApp.nfts.traits" for="field_traits">Traits</label>
          <input type="text" class="form-control" name="traits" id="field_traits" data-cy="traits" formControlName="traits" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
